.red{

background-color: red;
row-height: 20%;
}
table, td{

	
	margin: 5vh auto;
	margin-bottom: 0;
	
	
}
.lp{
	height: 20vh;
}

.green{
	height: 5vh;
	background-color: #02F70A;
}
.sp{	
	height: 5%;
}
.vlp{
	padding: 800px;
}
table
{
	width: 80%;
}
.blue{
	background-color: blue;
}
.yellow{
	background-color: yellow;
}
.lightblue{
	background-color: #08F8D9
}
.h{
	height: 70vh;
}