body{
	background-color: black;
	background-image: url(wallpaper.jpg);
}
th{
	text-align: center;
	color: white;
	padding-bottom: 12px;
}
table{
	width: 80vmax;
	margin: 0 auto;
	background-color: rgba(108, 108, 108, 1);
	border: 1px solid rgba(108, 108, 108, 1);
	border-radius: 20px;
}
img{
	border: 1px solid rgba(108, 108, 108, 1);
	border-radius: 20px;
	width: 30vmax;
	height: 20vmax;
}
td{
	width: 30vmax;
}
img:hover{
	opacity: 1;
	border-radius: 100%;

}