body{
	
	
}
th{
	text-align: center;
	color: white;
	padding-bottom: 12px;
	margin-top: 0px;
}
table{
	width: 80vmax;
	margin: 0 auto;
	background-color: rgba(108, 108, 108, 1);
	border: 1px solid rgba(108, 108, 108, 1);
	border-radius: 20px;
}
img{
	border: 1px solid rgba(108, 108, 108, 1);
	border-radius: 20px;
	width: 25vmax;
	height: 20vmax;
}
td{
	width: 25vmax;
}
img:hover{
	opacity: 1;
	border-radius: 100%;

}
div{
	background-image:repeating-linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(185,185,185,1) 10px);
}